---
layout: child.hbs
contents: I am contents. I was set in the foo page
content: ../../content/markdown.md
published: true
---

<div class="row">
  <div class="column">
    <p>hello from page: <tt>foo</tt>!</p>
  </div>
</div>

<div class="row">
  <div style="border: 1px solid blue;" class="column small-12 medium-6 large-1">
    CANARY
  </div>
</div>

{{!-- {{> my-wrapper }} --}}

{{> mega-menu }}

<hr>

<style type="text/css">
  .shame {
    background-color: yellow;
    display: table;
    width: 100%;
    max-width: 970px;
    margin: auto;
  }
  .cell {
    display: table-cell;
    text-align: center;
    background-color: pink;
  }

  /** https://css-tricks.com/equidistant-objects-with-css/ */
  /* can't use flexbox or calc() :( */
  #parent {
    text-align: justify;
    margin-left: 0;
    font-size: 0.1px;
    /*overflow-x: hidden;*/
    /*white-space: nowrap;*/
  }
  #parent li {
    /*font-size: inherit;*/
    font-size: 14px;
    display: inline-block;
    padding: 5px;
  }
  #parent:after {
    content: '';
    width: 100%;
    display: inline-block;
  }
</style>

<div class="shame">
  <div class="cell">1</div>
  <div class="cell">2</div>
  <div class="cell">3</div>
  <div class="cell">4</div>
  <div class="cell">5</div>
  <div class="cell">6</div>
  <div class="cell">7</div>
  <div class="cell">8</div>
  <div class="cell">9</div>
  <div class="cell">10</div>
  <div class="cell">11</div>
  <div class="cell">12</div>
  <div class="cell">13</div>
</div>

<hr>

<div class="row">
  <div class="columns" style="padding-left: 0; padding-right: 0;">
    <ul id="parent">
      <li><a href="#">Bank Accounts</a></li>
      <li><a href="#">Credit Cards</a></li>
      <li><a href="#">Mortgages</a></li>
      <li><a href="#">Lending</a></li>
      <li><a href="#">Investments</a></li>
      <li><a href="#">Insurance</a></li>
      <li><a href="#">Ways to Bank</a></li>
      <li><a href="#">Advice Centre</a></li>
    </ul>​
  </div>
  <div class="row">
    <div class="columns large-3 medium-3">aslkdfj</div>
    <div class="columns large-3 medium-3">aslkdfj</div>
    <div class="columns large-3 medium-3">aslkdfj</div>
    <div class="columns large-3 medium-3">aslkdfj</div>
    <div class="columns large-3 medium-3">aslkdfj</div>
    <div class="columns large-3 medium-3">aslkdfj</div>
    <div class="columns large-3 medium-3">aslkdfj</div>
    <div class="columns large-3 medium-3">aslkdfj</div>
  </div>
</div>

<hr>

<div class="row">
  <div class="foof">
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area show-for-small-only">
          <li class="name">
            <h1><a href="#">CIBC</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul {{!-- class="right" --}}>
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Four</a></li>
            <li><a href="#">Five</a></li>
            <li><a href="#">Six</a></li>
            {{!--
            <li class="active"><a href="#">Right Button Active</a></li>
            <li class="has-dropdown">
              <a href="#">Right Button Dropdown</a>
              <ul class="dropdown">
                <li><a href="#">First link in dropdown</a></li>
                <li class="active"><a href="#">Active link in dropdown</a></li>
              </ul>
            </li>
            --}}
          </ul>
          {{!--
          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="#">Left Nav Button</a></li>
          </ul>
          --}}
        </section>
      </nav>
    </div>
  </div>
</div>

{{!--   <div class="row">
    <div class="columns small-12">
      <div class="panel">

        <div class="row" data-equalizer>
          <div class="columns large-9" data-equalizer-watch>
            <h3>Title</h3>
            <div class="panel-body">
              <p>
                Get premium travel benefits with the CIBC Aventura Visa Infinite Card
              </p>
            </div>
            <div class="panel-footer">
              <a href="#" class="button">Learn more</a>
            </div>
          </div>
          <div class="columns large-3" data-equalizer-watch>
            <img src=""
                 style="
                   border: 1px solid blue;
                   min-height: 200px;
                   width: 100%;
                   display: block;
                 "
            >
          </div>
        </div>

      </div>
    </div>
  </div>

  </div>
</div> --}}

{{ content }}
