---
title: Home
---

<div class="row" data-equalizer>
  <div class="columns large-9 medium-8">
    <div class="panel"
         data-equalizer-watch
         style="
           background-color: pink;
         "
    >
      {{> carousel }}
    </div>
  </div>
  <div class="columns large-3 medium-4">
    <div class="panel" data-equalizer-watch>
      {{> login-form }}
    </div>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="columns medium-6">
    <div class="panel" data-equalizer-watch>
      <div class="row">
        <div class="columns large-6">
          <h3>Get up to $300 cash</h3>
          <p>When you open a CIBC Unlimited&reg; Chequing Account<sup>1</sup>.</p>
          <a href="#">Learn more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="columns medium-6">
    <div class="panel" data-equalizer-watch>
      <div class="row">
        <div class="columns large-6">
          <h3>First in online banking functionality</h3>
          <p>among Canada's 5 largest retail banks</p>
          <a href="#">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <p><a href="#">
      <i class="fa fa-tag"></i>
      Check out our special offers
    </a></p>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="panel" style="border-color-bottom: red;">
      <div class="row">
        <div class="column small-2">News</div>
        <div class="column small-10 text-center"><a href="#">The CIBC Mobile Payment&trade; App - now on the BlackBerry Classic and Z30!</a></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="panel">
      <div class="row">

        <div class="column large-3">
          <h3>Convenience</h3>
          <p>Access to services 24/7 via online, mobile, ABM and telephone banking - plus extended branch hours.</p>
          <a href="#">Learn more</a>
        </div>
        <!-- <hr class="hide-for-large-up"> -->
        <div class="column large-3">
          <h3>Convenience</h3>
          <p>Access to services 24/7 via online, mobile, ABM and telephone banking - plus extended branch hours.</p>
          <a href="#">Learn more</a>
        </div>
        <div class="column large-3">
          <h3>Convenience</h3>
          <p>Access to services 24/7 via online, mobile, ABM and telephone banking - plus extended branch hours.</p>
          <a href="#">Learn more</a>
        </div>
        <div class="column large-3">

          <h3>Find a Branch or ABM</h3>
          <form>
            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse">
                  <div class="small-9 columns">
                    <input type="text" placeholder="Value">
                  </div>
                  <div class="small-3 columns">
                    <a href="#"
                       class="button postfix"
                       style="padding: 0;"
                    >Go</a>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <h3>CIBC Rates</h3>
          <form>
            <div class="row">
              <div class="large-12 columns">
                <select>
                  <option disabled="disabled" selected="true">
                    Select...
                  </option>
                  <option value="/ca/rates/index.html?hpint_id=HP_IntRates-Mortgages-E">Mortgages</option>
                  <option value="/ca/rates/bank-acct-rates.html?hpint_id=HP_IntRates-BankAccounts-E">Bank Accounts</option>
                  <option value="/ca/rates/savings-rates.html?hpint_id=HP_IntRates-MutualFunds-E">Mutual Funds</option>
                  <option value="/ca/rates/gic-rates.html?hpint_id=HP_IntRates-GIC-E">GICs</option>
                  <option value="/ca/rates/tfsa-rates.html?hpint_id=HP_IntRates-TFSA-E">TFSAs</option>
                  <option value="/ca/rates/rrsp-rates-group.html?hpint_id=HP_IntRates-RRSP-E">RRSPs</option>
                  <option value="/ca/rates/rrif-lif-rates-group.html?hpint_id=HP_IntRates-RRIF-LIF-E">RRIFs/LIFs</option>
                  <option value="/ca/rates/business-bank-accts-rates.html?hpint_id=HP_IntRates-BusinessAccounts-E">Business Accounts</option>
                  <option value="/ca/rates/loans.html?hpint_id=HP_IntRates-Lending-E">Lending</option>
                </select>
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column text-right">
    <ul
      class="inline-list"
      style="
        display: inline-block;
        vertical-align: bottom;
      "
    >
      <li>Connect with CIBC:</li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="column"></div>
</div>

<div class="row">
  <div class="columns large-6">
    <div class="panel">
      <h3>Ways to Bank</h3>
      <p>No matter what your banking needs or when and how you want to bank, CIBC offers convenient solutions that help you bank your way.</p>
      <a href="#">Learn More</a>
    </div>
  </div>
  <div class="columns large-6">
    <div class="panel">
      <h3>Ways to Bank</h3>
      <p>No matter what your banking needs or when and how you want to bank, CIBC offers convenient solutions that help you bank your way.</p>
      <a href="#">Learn More</a>
    </div>
  </div>
</div>

<!--/* A Sightly Comment */-->

<!--
<script type="text/javascript">
  $(document).ready(function(){ 'use strict';
    $('.sloppy').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      // autoplay: true,
      autoplaySpeed: 2000,
    });

    $('.shame').slick();
  });
</script>
-->
