---
title: Landing Page
---
{{> sub-nav }}

{{> full-bleed }}

<div class="row">
  <div class="columns large-4">
    <h3>More Aeroplan<sup>&reg;</sup> Miles</h3>
    <img src="http://placehold.it/200x100">
    <p><a href="#">CIBC Aerogold&reg; Visa Infinite Card</a></p>
    <p>
      Annual Fee: $120<br>
      Interest Rate – Purchases: 19.99%1<br>
      Interest Rate – Cash: 22.99%1
    </p>
    <button>Apply Now</button>
    <p><a href="#">View more travel rewards cards</a></p>
  </div>
  <div class="columns large-4">
    <h3>More Aeroplan<sup>&reg;</sup> Miles</h3>
    <img src="http://placehold.it/200x100">
    <p><a href="#">CIBC Aerogold&reg; Visa Infinite Card</a></p>
    <p>
      Annual Fee: $120<br>
      Interest Rate – Purchases: 19.99%1<br>
      Interest Rate – Cash: 22.99%1
    </p>
    <button>Apply Now</button>
    <p><a href="#">View more travel rewards cards</a></p>
  </div>
  <div class="columns large-4">
    <h3>More Aeroplan<sup>&reg;</sup> Miles</h3>
    <img src="http://placehold.it/200x100">
    <p><a href="#">CIBC Aerogold&reg; Visa Infinite Card</a></p>
    <p>
      Annual Fee: $120<br>
      Interest Rate – Purchases: 19.99%1<br>
      Interest Rate – Cash: 22.99%1
    </p>
    <button>Apply Now</button>
    <p><a href="#">View more travel rewards cards</a></p>
  </div>
</div>

{{> full-bleed }}

<div class="row">
  <div class="columns large-6 text-center">
    <h3>Compare our cards</h3>
    <p>Find the right one for you – compare up to 4 cards.</p>
    <img src="http://placehold.it/300x200">
    <p>
      <button>Compare</button>
    </p>
  </div>
  <div class="columns large-6 text-center">
    <h3>Compare our cards</h3>
    <p>Find the right one for you – compare up to 4 cards.</p>
    <img src="http://placehold.it/300x200">
    <p>
      <button>Compare</button>
    </p>
  </div>
</div>

{{> footer-scripts }}
