---
component: carousel
---
<div class="cibc-carousel sloppy">
  <div class="pane">Feature Banner #1</div>
  <div class="pane">Feature Banner #2</div>
  <div class="pane">Feature Banner #3</div>
</div>

