---
component: footer
---
<div class="row">
  <div class="column">
    <hr style="border-width: 8px 0 0;">
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="panel">
      <h3>Wicked Awesome Footer</h3>
    </div>
  </div>
</div>
