---
component: full-bleed
---
<div class="full-bleed">
  <div class="row">
    <div class="columns">
      <h3>Full-Bleed Callouts are so awesome</h3>
      <p>
        Lots of interesting content can go in here...
      </p>
    </div>
  </div>
</div>
