---
component: sub-nav
---
<div class="row">
  <div class="columns text-center">
    <ul class="cibc-sub-nav no-bullet">
      <li><a href="#">Travel Rewards</a></li>
      <li class="active"><a href="#">Cash Back</a></li>
      <li><a href="#">Retail Rewards</a></li>
      <li><a href="#">Everyday</a></li>
      <li><a href="#">Student</a></li>
      <li><a href="#">Business</a></li>
    </ul>
  </div>
</div>
